{
    "type": "anchor",
    "peerPrefix": "/dledger",
    "multicastPrefix": "/ndn/broadcast/dledger",
    "anchorCert": "dledger-anchor.cert",
    "databasePath": "/tmp/dledger-db/ndncert",
    "recordGraphLog": "records.txt",
    "peerCert": ["test-certs/test-a.cert", "test-certs/test-b.cert",
                 "test-certs/test-c.cert", "test-certs/test-d.cert"]
}
